body {
 background-color: greenyellow;
 color: aqua;
 font-family: 'trebuchet MS', 'Comic Sans MS', cursive;
 magin: 1;
}
header {
    font-size: 60px;
    padding: 6px;
    tex-align: center:
}

h1 (
  font-size: 30px;
  border-bottom: 